
.list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.user-item{
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    width: 150px;
    padding: 10px;
}

.user-item:last-child{
    border-bottom: 1px solid black;
}

.user-item:hover{
    background-color: rgb(42, 98, 250);
    color: #ffffff;
    cursor: pointer;
}